<section class="contact" id="contact">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__map" data-aos="fade-down-right" data-aos-duration="3000">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.049286309494!2d30.408048315621663!3d50.4588068946439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc6802c991a9%3A0xef592ad757303a0b!2z0L_RgNC-0YHQvy4g0J_QvtCx0LXQtNGLLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1657296680076!5m2!1sru!2sua"
                    width="100%" height="540" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <span class="contact__address-open">Открыть адрес</span>
                <address class="contact__address">
                    <img src="images/logo-contact.svg" alt="логотип" class="contact__logo" width="113"
                        height="35" />
                    <a href="tel:380500000000" class="contact__phone">+38 (050) 000 00 00</a>
                    <a href="mailto:contact@addmarket.ua" class="contact__email">contact@addmarket.ua</a>
                    <span class="contact__schedule">Режим работы:<span class="contact__schedule schedule-time"> ПН-ПТ
                            09:00 - 18:00</span>
                    </span>
                </address>
            </div>
            <div class="contact__feedback">
                <h2 class="contact__title title" data-aos="fade-down" data-aos-duration="1000">Форма обратной связи</h2>
                <form action="#" class="modal__form contact__form">
                    <div class="modal__inputs">
                        <label for="contactName" class="modal__label">Имя</label>
                        <input autocomplete="off" type="text" name="name" id="contactName" data-error="Ошибка"
                            placeholder="Введите ваше имя" class="modal__input" required>
                    </div>
                    <div class="modal__inputs">
                        <label for="email" class="modal__label">E-mail</label>
                        <input autocomplete="off" type="email" name="email" id="contactEmail" data-error="Ошибка"
                            placeholder="Введите ваш E-mail" class="modal__input" required>
                    </div>
                    <div class="modal__inputs">
                        <label for="phone" class="modal__label">Телефон</label>
                        <input autocomplete="off" type="phone" name="phone" id="contactPhone" data-error="Ошибка"
                            placeholder="Введите ваше Телефон" class="modal__input" required>
                    </div>
                    <button type="submit" class="modal__button btn" data-submit="submit">Отправить</button>
                    <div class="modal__policy">
                        <p>Нажимая кнопку «Отправить», вы даете согласие на обработку персональных данных и соглашаетесь
                            с <a href="#" class="modal__policy-link">политикой конфиденциальности</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>