<section class="gift" style="background-image: url('images/lines-bg/line-certificate.svg');">
    <div class="container">
        <h2 class="gift__title title title-offset" data-aos="fade-down" data-aos-duration="1000">
            Подарочный сертификат на фотосессию
        </h2>
        <div class="gift__content" style="background-color: #F2F4F4;">
            <div class="gift__text">
                <h3 class="gift__subtitle">сертификат на фотосессию
                    <span class="gift__subtitle-text">Это подарок,
                        который западает
                        в душу</span>
                </h3>
                <ul class="gift__list">
                    <li class="gift__item">Креативное оформление</li>
                    <li class="gift__item">Открытый календарь</li>
                    <li class="gift__item">Всё включено</li>
                </ul>
            </div>
            <div class="gift__image">
                <picture>
                    <source srcset="images/gift/envelope.png" media="(max-width: 768px)" width="300" height="300">
                    <img src="images/gift/envelope.png" alt="Подарочный сертификат" width="493" height="493" />          
                  </picture>                
                <span class="gift__image-term">Срок действия сертификата: 2 месяца со дня приобретения.</span>
                <button type="button" class="gift__image-button modal-button btn">Приобрести</button>
            </div>
        </div>
    </div>
</section>