<header class="header">
  <nav>
    <div class="container">
      <div class="header__nav navbar" title="Main menu">
        <div class="logo"><a href="#">
            <picture>
              <source srcset="images/logo.svg" media="(max-width: 768px)" width="80" height="25">
              <img src="images/logo.svg" alt="логотип" width="108" height="35" />
            </picture>
          </a></div>
        <ul class="header__menu menu burger-menu">
          <li class="menu__item active"><a href="#portfolio" class="menu__link" data-where="anchor">Портфолио</a></li>
          <li class="menu__item"><a href="#portfolio" class="menu__link" data-where="anchor">Виды работ</a></li>
          <li class="menu__item"><a href="#interior" class="menu__link" data-where="anchor">О фотостудии</a></li>
          <li class="menu__item"><a href="#price" class="menu__link" data-where="anchor">Услуги и цены</a></li>
          <li class="menu__item"><a href="#contact" class="menu__link" data-where="anchor">Контакты</a></li>
        </ul>
        <div class="header__contact phone-contact">
          <button type="button" class="phone-contact__button btn btn_outline" data-order="order">Обратный
            звонок</button>
          <a href="tel:380990000000" class="phone-contact__phone">+38 099 000 00 00</a>
        </div>
        <div class="header__burger burger">
          <span class="burger__line"></span>
        </div>
      </div>
    </div>
  </nav>
</header>