<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__overlay"></div>
        <video class="hero__video" autoPlay loop muted>
            <source src='../../images/video/hero-video.mp4' type="video/mp4" />
        </video>

        <div class="hero__content">
            <div class="container">
                <h1 class="hero__title" data-aos="fade-right" data-aos-duration="1000">Профессиональная фотосессия в студии</h1>
                <h2 class="hero__subtitle" data-aos="fade-right" data-aos-duration="2000">Наша фотостудия позволит исполнить ваши мечты</h2>
                <div class="hero__text" data-aos="fade-up-right" data-aos-duration="3000">
                    <p>
                        Фотографии стали неотъемлемой частью нашей жизни. Это теперь не просто памятные снимки в
                        альбомах,
                        ныне
                        фото становиться способом понравиться окружающим, получить восхищение, заявить о себе всему
                        миру.
                    </p>
                    <p>
                        Выбор правильной фотостудии занимает далеко не последнее место в получение фотографий. И мы с
                        точностью
                        заявляем, что нашей фотостудией вы останетесь довольны и еще не раз захотите возвращаться к нам.
                    </p>
                </div>
                <button type="button" class="hero__button btn" data-order="order">Получить консультацию</button>
            </div>
        </div>
    </div>
</section>