<div class="info-block info-block_pink">
    <div class="container">
        <h2 class="info-block__title title" data-aos="fade-down" data-aos-duration="1000">
            Фотоискусство в тренде. Любая фотоссесия ваша история
        </h2>
        <div class="info-block__text close" data-aos="fade-up" data-aos-duration="3000">
            <p>Мы искренни так считаем и готовы кричать эту фразу на весь мир. Фотографии давно перестали пылиться на
                полках в семейных, потрёпанных альбомах. </p>
            <p>Хотите самовыразиться и не знаете как? Позвоните нам и закажите фотосъемку. Хотите удивить и впечатлить?
                Мы вам поможем. Не уверены? Посмотрите отзывы и проконсультируйтесь. Боитесь фотографироваться? Наши
                локации помогут вам расслабиться и почувствовать себя как дома.
            </p>
            <p>Доступные цены для всех и вежливость.</p>
            <p>Повторим еще раз: мы работаем в первую очередь для клиентов, и аренда нашей фотостудии имеют цены семи
                чашек кофе.</p>
            <p>Вы можете расплатится любым удобным для вас способом: наличным или безналичным расчетом. Все для вашего
                удобства.</p>
            <p>Вежливость тоже относиться к главным нашим качествам. У нас вы не найдете ужасного обращения, мы всегда
                готовы ответить вам и проконсультировать, помочь и стать вашими друзьями. Все наши работники улыбчивы и
                приветливы вам, которые не оставят вам плохого настроения.</p>
            <p>В каждом городе есть хотя бы несколько фотостудий и часто поход туда, становиться чуть ли не традицией
                семьи, пар или друзей. Тренд на истории в фотографиях для социальных сетей, где мы проводим много
                времени, не угасал и не угаснет никогда. Фотоссесия лав стори или семейная привлекает внимание всех
                людей и, доказано, набирает больше всего одобрений со стороны людей всего мира.
                Для качественного исполнения вашей мечты стоит обращаться к профессионалу и выбирать интересные локации.
            </p>
            <p>
                Наша фотостудия предлагает и то, и то. Профессиональный фотограф сможет сделать качественные, интересные
                фотографии, помочь вам воплотить вашу идею в жизнь в уютных залах фотостудии.
            </p>
            <p>
                На ваш выбор у нас есть 7 фотозалов, каждый из которых прекрасен и индивидуален по-своему. В больших
                залах отлично будет смотреться групповая фотосессия, а в залах меньше получиться интересная фотоссесия в
                деловом стиле.
            </p>
            <p>
                Мы работаем в первую очередь на качество, поэтому наши цены не завышенные и доступны всем желающим. У
                нас есть различные и удобные способы оплаты для вас.
            </p>
        </div>
        <button type="button" class="info-block__button">Подробнее</button>
    </div>
</div>