<div class="info-block info-block_gray">
    <div class="container">
        <h2 class="info-block__title title" data-aos="fade-down" data-aos-duration="1000">
            Фотостудия для любых идейных фотоссесий
        </h2>
        <div class="info-block__text close" data-aos="fade-up" data-aos-duration="3000">
            <p>Воплотите мечту с нашей фотостудией и приобретите красивые, уникальные, качественные фотографии, выбрав
                один из наших залов. А их, -на секундочку, -аж семь штук.</p>
            <p>Каждый наш зал оборудован интерьером и профессиональным оборудованием, и подойдет для любой фотоссесии, а
                мы хотим рассказать вам о все подробнее.
            </p>
            <p>Какие идеи можно воплотить?</p>
            <p>• Фотоссесия Love Story
            </p>
            <p> Мечтаете показать всему миру вашу историю создания любви или хранить снимки в памятном альбоме, то это
                фотоссесия отлично подойдет вам. Расскажите вашу историю с любимым человеком в фотографиях в необычном
                месте.
            </p>
            <p>• Семейная фотоссесия
            </p>
            <p>Семья — это самое главное в жизни любого человека. Хотите повесить фотографии в вашем уютном доме,
                смотреть на них и испытывать прилив нежности, значит семейная фотоссесия в нашей фотостудии станет
                отличным вариантом. </p>
            <p>• Фотоссесия для беременных девушек</p>
            <p>
                Желаете сохранить воспоминания о прекрасном времени в жизни каждой женщины? Наши локации помогут вам
                организовать и воссоздать
                в фотографиях любовь матери и еще не родившегося ребенка.
            </p>
            <p>
                • Фотоссесия «Деловой стиль».
            </p>
            <p>
                Вы не из тех, кто любит яркие чувства, эмоции и считаете себя сдержанным. Вам нужны фотографии, где вы
                раскроетесь как профессионал, произведете впечатление как деловой человек. Эта фотоссесия станет вашим
                правильным решением.
            </p>
            <p>
                • Фотоссесия для девушек и парней.
            </p>
            </p>
            Хочешь стать кем-то другим? Или, наоборот, показать свое «я»? Фотоссесия для девушек или парней поможет
            воплотить любые идеи.
            <p>
                <p>
                    Помимо вышеперечисленного есть и другие стили фотоссесий. Вы самостоятельно выбираете, а наши
                    фотозалы
                    помогают вам и вдохновляют.
                </p>
                <p>
                    Кстати, о них…
                </p>
                <p>
                    Все семь фото локаций уникальные в своем роде. Мы пытались воссоздать непохожесть на другие
                    фотостудии
                    не
                    только в городе, но и во всей стране. Каждый зал отличается от других по дизайнерскому решению и
                    интерьеру.
                </p>
                <p>
                    И каждый зал пропитан своим духом, стилем и видится
                    для каждого нашего посетителя по-разному.
                    Светлые помещения помогут получить более качественные, яркие фотоснимки. Трендовая мебель и другие
                    предметы
                    интерьера можно двигать и активно использовать в фотосъемках. Локации подойдут для любых людей и
                    задач:
                    блогеров и медийных личностей, обычных
                    и счастливых семей, предпринимателей и подростков.
                    Что еще нужно знать о нас?
                </p>
                <p>
                    Оборудование. Неотъемлемая часть любой фотостудии и нередко владельцы фотостудий экономят на этой
                    важной части.
                </p>
                <p>
                    Мы используем все оборудование только от профессиональных продавцов, которые уже не один год
                    предлагают свои товары на мировом рынке. Вы найдете все что нужно и необходимо для работы
                    фотографов, для создания образов и
                    света. Ведь именно от оборудования часто зависит качество получающихся фотоснимков.
                </p>
        </div>
        <button type="button" class="info-block__button">Подробнее</button>
    </div>
</div>