<div class="modal modal_order">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button type="button" class="modal__close">Х</button>
            <div class="modal__contact">
                <h2 class="modal__title title">Форма обратной связи</h2>
                <form action="#" class="modal__form">
                    <div class="modal__inputs">
                        <label for="orderName" class="modal__label">Имя</label>
                        <input autocomplete="off" type="text" name="name" id="orderName" data-error="Ошибка"
                            placeholder="Введите ваше имя" class="modal__input" required>
                    </div>
                    <div class="modal__inputs">
                        <label for="orderEmail" class="modal__label">E-mail</label>
                        <input autocomplete="off" type="email" name="email" id="orderEmail" data-error="Ошибка"
                            placeholder="Введите ваш E-mail" class="modal__input" required>
                    </div>
                    <div class="modal__inputs">
                        <label for="orderPhone" class="modal__label">Телефон</label>
                        <input autocomplete="off" type="phone" name="phone" id="orderPhone" data-error="Ошибка"
                            placeholder="Введите ваше Телефон" class="modal__input" required>
                    </div>
                    <button type="submit" class="modal__button btn">Отправить</button>
                    <div class="modal__policy">
                        <p>Нажимая кнопку «Отправить», вы даете согласие на обработку персональных данных и соглашаетесь
                            с <a href="#" class="modal__policy-link">политикой конфиденциальности</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal__greeting greeting">
        <div class="greeting__content">
            <button type="button" class="greeting__close">Х</button>
            <span class="greeting__title title">Благодарим за оставленную заявку!</span>
            <div class="greeting__text">
                <p>Наши специалисты уже обрабатывают Вашу заявку и свяжутся с Вами в ближайшее время</p>
            </div>
        </div>
    </div>
</div>