<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="portfolio__title title title-offset" data-aos="fade-down" data-aos-duration="1000">
            Наши работы
        </h2>
        <div class="portfolio__slider swiper">
            <div class="portfolio__wrapper swiper-wrapper">
                <a href="../../images//portfolio/photo-studio.jpg" class="portfolio__slide swiper-slide">
                    <img src="../../images//portfolio/photo-studio.jpg" alt="фото-студия">
                </a>
                <a href="../../images//portfolio/camera.jpg" class="portfolio__slide swiper-slide">
                    <img src="../../images//portfolio/camera.jpg" alt="фотоаппарат">
                </a>
                <a href="../../images//portfolio/photographer.jpg" class="portfolio__slide swiper-slide">
                    <img src="../../images//portfolio/photographer.jpg" alt="наш профессиональный фотограф">
                </a>
                <a href="../../images//portfolio/photo-studio.jpg" class="portfolio__slide swiper-slide">
                    <img src="../../images//portfolio/photo-studio.jpg" alt="фото-студия">
                </a>
                <a href="../../images//portfolio/camera.jpg" class="portfolio__slide swiper-slide">
                    <img src="../../images//portfolio/camera.jpg" alt="фотоаппарат">
                </a>
                <a href="../../images//portfolio/photographer.jpg" class="portfolio__slide swiper-slide">
                    <img src="../../images//portfolio/photographer.jpg" alt="наш профессиональный фотограф">
                </a>
            </div>
            <div class="portfolio__pagination"></div>
            <div class="portfolio__buttons">
                <button type="button" class="portfolio__button swiper-button-prev" aria-label="Вернуться к предыдущему слайду"></button>
                <button type="button" class="portfolio__button swiper-button-next" aria-label="Перейти к следующему слайду"></button>
            </div>
        </div>
    </div>
</section>