<section class="services">
    <div class="container">
        <h2 class="services__title title title-offset" data-aos="fade-down" data-aos-duration="1000">
            Виды услуг
        </h2>
        <ul class="services__gallery">
            <li class="services__item" data-aos="fade-down-right" data-aos-duration="3000">
                <img src="../../images/services/services-1.jpg" alt="Фотосессия Лав Стори" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия Лав Стори
                </div>
            </li>
            <li class="services__item" data-aos="fade-down-right" data-aos-duration="2000">
                <img src="../../images/services/services-2.jpg" alt="Фотосессия для подростков" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия для подростков
                </div>
            </li>
            <li class="services__item" data-aos="fade-down-right" data-aos-duration="1000">
                <img src="../../images/services/services-3.jpg" alt="Парная фотосессия" class="services__item-image">
                <div class="services__item-title">
                    Парная фотосессия
                </div>
            </li>
            <li class="services__item" data-aos="fade-down-right" data-aos-duration="3000">
                <img src="../../images/services/services-4.jpg" alt="Фотосессия для парней" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия для парней
                </div>
            </li>
             <li class="services__item" data-aos="fade-down-left" data-aos-duration="3000">
                <img src="../../images/services/services-5.jpg" alt="Семейная фотосессия (дети +14)" class="services__item-image">
                <div class="services__item-title">
                    Семейная фотосессия (дети +14)
                </div>
            </li>
            <li class="services__item" data-aos="fade-down-right" data-aos-duration="2000">
                <img src="../../images/services/services-6.jpg" alt="Групповая фотосессия" class="services__item-image">
                <div class="services__item-title">
                    Групповая фотосессия
                </div>
            </li>
            <li class="services__item" data-aos="fade-down-right" data-aos-duration="1000">
                <img src="../../images/services/services-7.jpg" alt="Фотосессия Лукбук" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия Лукбук
                </div>
            </li>
            <li class="services__item" data-aos="fade-down-left" data-aos-duration="3000">
                <img src="../../images/services/services-8.jpg" alt="Фотосессия для девушек" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия для девушек
                </div>
            </li>
            <li class="services__item" data-aos="fade-up" data-aos-duration="1000">
                <img src="../../images/services/services-9.jpg" alt="Фотосессия для беременных" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия для беременных
                </div>
            </li>
            <li class="services__item" data-aos="fade-up" data-aos-duration="1000">
                <img src="../../images/services/services-10.jpg" alt="Фотосессия с животными" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия с животными
                </div>
            </li>
            <li class="services__item" data-aos="fade-up" data-aos-duration="1000">
                <img src="../../images/services/services-11.jpg" alt="Фотосессия «Деловой стиль»" class="services__item-image">
                <div class="services__item-title">
                    Фотосессия «Деловой стиль»
                </div>
            </li> 
        </ul>
    </div>
</section>