.gift {
    padding: 80px 0 92px;
    @include adaptiveValue("padding-top", 80, 60, 1240, 320, 1);
    @include adaptiveValue("padding-bottom", 92, 60, 1240, 320, 1);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__content {
        padding: 38px 66px 38px 130px;
        z-index: -1;
        width: 100%;
        max-height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("padding-right", 66, 38, 1240, 320, 1);
        @include adaptiveValue("padding-left", 130, 38, 1240, 320, 1);

        @include r(768) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        font-size: 14px;
        width: 116%;
        line-height: 1.2;
        letter-spacing: 1px;
        color: #C1C1C1;
        text-transform: uppercase;
        margin-bottom: 52px;
        @include adaptiveValue("margin-bottom", 52, 25, 1240, 320, 1);

        @include r(768) {
            width: 100%;
        }

        &-text {
            display: block;
            color: $mainColor;
            font-weight: 600;
            font-size: 48px;
            line-height: 1.4;
            @include adaptiveValue("font-size", 48, 20, 1240, 320, 1);

        }
    }

    &__list {
        align-self: baseline;

        @include r(768) {
            display: flex;
            align-self: center;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
    }


    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 25px;

            @include r(375) {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            left: -35px;
            top: -2px;
            background-image: url('../../images/circle-orange.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            @include r(375) {
                background-image: none;
            }
        }
    }

    &__image {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-term {
            display: block;
            line-height: 1.4;
            color: $secondaryColor;
            text-align: center;
            margin-bottom: 24px;
            @include adaptiveValue("font-size", 16, 14, 1240, 320, 1);

        }

        &-button {
            display: block;
            max-width: 342px;
            width: 100%;
        }
    }
}