.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;

    &.active {
        display: block;
    }

    &__wrapper {
        position: absolute;
        width: 84%;
        max-height: 560px;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        position: relative;
        background-color: $white;
        padding: 60px 40px;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        @include adaptiveValue("padding-top", 60, 30, 1240, 320, 1);
        @include adaptiveValue("padding-right", 40, 20, 1240, 320, 1);
        @include adaptiveValue("padding-bottom", 60, 30, 1240, 320, 1);
        @include adaptiveValue("padding-left", 40, 20, 1240, 320, 1);

        @include r(1024) {
            align-items: center;
        }
    }

    &__close {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: -37px;
        color: $white;
        font-size: 21px;
        padding: 5px;
    }

    &__image {
        flex: 0 0 50%;

        @include r(768) {
            display: none;
        }
    }

    &__contact {
        flex: 1 1 auto;
    }

    &__title {
        margin-bottom: 32px;
        text-align: left;
        @include adaptiveValue("margin-bottom", 32, 20, 1240, 320, 1);

        @include r(1024) {
            text-align: center;
        }
    }

    &__form {
        max-width: 420px;
        width: 100%;
        padding-left: 14px;

        @include r(768) {
            margin: 0 auto;
            padding-left: 0;
        }
    }

    &__inputs {
        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &:nth-last-child(3) {
            margin-bottom: 32px;
        }
    }

    &__label {
        line-height: 12px;
        color: #121621;
        opacity: 0.4;
        display: block;
        margin-bottom: 8px;
    }

    &__input {
        background: $white;
        border: 1px solid #DDDEE4;
        border-radius: 5px;
        width: 100%;
        padding: 18px 16px;
        height: 48px;

        &::placeholder {
            font-size: 12px;
            line-height: 12px;
            color: #B1B1B1;
        }
    }

    &__button {
        display: block;
        width: 100%;
        margin-bottom: 16px;
    }

    &__policy {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #585858;
        @include adaptiveValue("font-size", 12, 10, 1240, 320, 1);

    }

    &__policy-link {
        color: $secondaryColor;
        text-decoration: underline;
    }

    .greeting {
        display: none;
        position: absolute;
        max-width: 662px;
        width: 100%;
        max-height: 334px;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.active {
            display: block;
        }

        &__content {
            position: relative;
            background-color: $white;
            padding: 60px 40px;
            border-radius: 20px;
            @include adaptiveValue("padding-top", 60, 30, 1240, 320, 1);
            @include adaptiveValue("padding-right", 40, 20, 1240, 320, 1);
            @include adaptiveValue("padding-bottom", 60, 30, 1240, 320, 1);
            @include adaptiveValue("padding-left", 40, 20, 1240, 320, 1);
        }

        &__close {
            position: absolute;
            cursor: pointer;
            right: 0;
            top: -37px;
            color: $white;
            font-size: 21px;
            padding: 5px;
        }

        &__title {
            display: block;
            margin-bottom: 24px;
            text-align: center;
        }

        &__text {
            line-height: 22px;
            color: #121621;
            opacity: 0.4;
        }
    }
}