<section class="feedback" id="feedback">
    <div class="container">
        <h2 class="feedback__title title title-offset" data-aos="fade-down" data-aos-duration="1000">
            Отзывы
        </h2>
        <div class="feedback__slider swiper">
            <div class="feedback__wrapper swiper-wrapper">
                <div class="feedback__slide swiper-slide">
                    <div class="feedback__image">
                        <img src="../../images/feedback/feedback-Maria.png" alt="Feedback" width="223" height="244" />
                    </div>
                    <span class="feedback__name">Мария</span>
                    <div class="feedback__text collapse">
                        <p>
                            Приятно удивила теплая и уютная атмосфера. Сразу видно профессионализм фотографов,
                            чувствуешь себя раскрепощенно, никакого стеснения, будто бы знакомы очень давно.
                            Администрация на одной волне с выпускниками. Фотограф Вика очень располагает к себе,
                            подсказывает всё по позам, даже у новичков в этом деле, получаются отличные фото. В целом
                            остались очень довольны. Буду рекомендовать всем друзьям))
                        </p>
                    </div>
                    <div class="feedback__showmore show">Показать ещё</div>
                </div>
                <div class="feedback__slide swiper-slide">
                    <div class="feedback__image">
                        <img src="../../images/feedback/feedback-Serge.png" alt="Feedback" width="223" height="244" />
                    </div>
                    <span class="feedback__name">Сергей</span>
                    <div class="feedback__text collapse">
                        <p>
                            Очень круто, были там сегодня классом. Атмосфера бомба, фотографы и администраторы на одной
                            волне с нами не чувствуешь дискомфорта, мне понравилось, ждём альбом.
                        </p>
                    </div>
                    <div class="feedback__showmore show">Показать ещё</div>
                </div>
                <div class="feedback__slide swiper-slide">
                    <div class="feedback__image">
                        <img src="../../images/feedback/feedback-Ruslan.png" alt="Feedback" width="223" height="244" />
                    </div>
                    <span class="feedback__name">Руслан</span>
                    <div class="feedback__text collapse">
                        <p>
                            Харизматичная и очень обаятельная Маша. Любую съемку, можно доверить такому человеку. Всегда
                            найдёт нужный ракурс, создаст подходящую и легкую атмосферу. Фотографии получаются
                            креативные и со смыслом. Профессионал, которого рекомендую всем 😘
                        </p>
                    </div>
                    <div class="feedback__showmore show">Показать ещё</div>
                </div>
            </div>
        </div>
        <div class="feedback__slider-buttons">
            <button type="button" class="feedback__slider-button swiper-button-prev feedback__slider-button--prev"
                aria-label="Вернуться к предыдущему слайду"></button>
            <button type="button" class="feedback__slider-button swiper-button-next feedback__slider-button--next"
                aria-label="Перейти к следующему слайду"></button>
        </div>
        <div class="feedback__bottom">
            <button type="button" class="feedback__button btn">Добавить отзыв</button>
        </div>
    </div>


    
</section>