<section class="location" style="background-image: url('../../images/lines-bg/line-location.svg');">
    <div class="container">
        <h2 class="location__title title title-offset" data-aos="fade-down" data-aos-duration="1000">
            Наши локации
        </h2>
        <div class="location__slider swiper">
            <div class="location__wrapper swiper-wrapper">
                <div class="location__slide swiper-slide" data-aos="fade-down-right" data-aos-duration="1000">
                    <img src="../../images/location/location-1.jpg" alt="первая локация">
                </div>
                <div class="location__slide swiper-slide" data-aos="fade-down" data-aos-duration="2000">
                    <img src="../../images/location/location-2.jpg" alt="вторая локация">
                </div>
                <div class="location__slide swiper-slide" data-aos="fade-down-left" data-aos-duration="1000">
                    <img src="../../images/location/location-3.jpg" alt="третья локация">
                </div>
                <div class="location__slide swiper-slide">
                    <img src="../../images/location/location-1.jpg" alt="первая локация">
                </div>
                <div class="location__slide swiper-slide">
                    <img src="../../images/location/location-2.jpg" alt="вторая локация">
                </div>
                <div class="location__slide swiper-slide">
                    <img src="../../images/location/location-3.jpg" alt="третья локация">
                </div>
            </div>
            <div class="location__slider-buttons">
                <button type="button" class="location__slider-button swiper-button-prev"
                    aria-label="Вернуться к предыдущему слайду"></button>
                <button type="button" class="location__slider-button swiper-button-next"
                    aria-label="Перейти к следующему слайду"></button>
            </div>
        </div>
        <button type="button" class="location__button btn">Выбрать локацию </button>
    </div>
</section>