<section class="price" id='price' style="background-image: url('../../images/lines-bg/line-price.svg');">
    <div class="container">
        <h2 class="price__title title" data-aos="fade-down" data-aos-duration="1000">
            Стоимость фотосесии
        </h2>
        <ul class="price__list">
            <li class="price__item">
                <article class="price__card card" style="background-color: #F2F4F4;" data-aos="fade-right"
                    data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <div class="card__content">
                        <div class="card__text">
                            <h3 class="card__title">
                                mini
                            </h3>
                            <span class="card__price" data-price='1'>
                                1500 ₴
                            </span>
                            <span class="card__place">/ 1 локация</span>
                            <ul class="card__list">
                                <li class="card__item">Длительность — 30 минут</li>
                                <li class="card__item">Исходники — До 100 штук</li>
                                <li class="card__item">Ретушь — 4 фото</li>
                                <li class="card__item">Аренда фотостудии — Бесплатно</li>
                                <li class="card__item">Любой образ</li>
                            </ul>
                        </div>
                        <span class="card__services">Дополнительные услуги</span>
                        <ul class="card__services-list">
                            <li class="card__services-item">Помощь
                                в позировании</li>
                            <li class="card__services-item">Визажист
                                + 600 ₽</li>
                            <li data-calculate='1' class="card__services-item">Дополнительная ретушь фото — 1
                                шт. / 50 ₴</li>
                        </ul>
                    </div>
                    <div class="card__bottom">
                        <button type="button" class="card__button btn">Забронировать</button>
                    </div>
                </article>
            </li>
            <li class="price__item">
                <article class="price__card card" style="background-color: #F9F4EE;">
                    <div class="card__content" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                        data-aos-duration="5000">
                        <div class="card__text">
                            <h3 class="card__title">
                                standart
                            </h3>
                            <span class="card__price" data-price='2'>
                                3000 ₴
                            </span>
                            <span class="card__place">/ 2 локация</span>
                            <ul class="card__list">
                                <li class="card__item">Длительность — 1 час 30 минут</li>
                                <li class="card__item">Исходники — До 200 штук</li>
                                <li class="card__item">Ретушь — 8 фото</li>
                                <li class="card__item">Аренда фотостудии — Бесплатно</li>
                                <li class="card__item">Любой образ</li>
                            </ul>
                        </div>
                        <span class="card__services">Дополнительные услуги</span>
                        <ul class="card__services-list">
                            <li class="card__services-item">Помощь
                                в позировании</li>
                            <li class="card__services-item">Визажист
                                + 600 ₴</li>
                            <li data-calculate='2' class="card__services-item">Дополнительная ретушь фото — 1
                                шт. / 50 ₴</li>
                        </ul>
                    </div>
                    <div class="card__bottom">
                        <button type="button" class="card__button btn">Забронировать</button>
                    </div>
                </article>
            </li>
            <li class="price__item">
                <article class="price__card card" style="background-color: #F5D9C6;" data-aos="fade-left"
                    data-aos-easing="ease-in-sine" data-aos-duration="2000">
                    <div class="card__content">
                        <div class="card__text">
                            <h3 class="card__title">
                                maxi
                            </h3>
                            <span class="card__price" data-price='3'>
                                5000 ₴
                            </span>
                            <span class="card__place">/ Максимальное количество локаций</span>
                            <ul class="card__list">
                                <li class="card__item">Длительность — 4 часа</li>
                                <li class="card__item">Исходники — До 500 штук</li>
                                <li class="card__item">Ретушь — 50 фото</li>
                                <li class="card__item">Аренда фотостудии — Бесплатно</li>
                                <li class="card__item">Визажист — Make-Up, Укладка</li>
                                <li class="card__item">Предварительный подбор образов — До 8 образов</li>
                            </ul>
                        </div>
                        <span class="card__services">Дополнительные услуги</span>
                        <ul class="card__services-list">
                            <li data-calculate='3' class="card__services-item">Дополнительная ретушь фото — 1
                                шт. / 50 ₴</li>
                        </ul>
                    </div>
                    <div class="card__bottom">
                        <button type="button" class="card__button btn">Забронировать</button>
                    </div>
                </article>
            </li>
        </ul>
    </div>
    <div class="price__calculate calculate">
        <div class="calculate__wrapper">
            <div class="calculate__content">
                <span class="calculate__title title">
                    Дополнительная ретушь фото
                </span>
                <form action="#" class="calculate__form">
                    <div class="calculate__block">
                        <label for="quantity" class="calculate__label">Количество</label>
                        <input type="number" id="quantity" name="quantity" class="calculate__input" placeholder="Введите количество фото для ретуши" required>
                    </div>
                    <button type="submit" class="calculate__button btn">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</section>