<section class="stages">
    <div class="container">
        <h2 class="stages__title title title-offset" data-aos="fade-down" data-aos-duration="1000">Этапы работ</h2>
        <ul class="stages__list" style="background-image: url('images/lines-bg/line-work.svg');">
            <li class="stages__item">
                <span class="stages__item-title">
                    Заявка
                </span>
                <div class="stages__item-text">
                    <p>Оставьте заявку на нашем сайте и с вами свяжется наш менеджер по телефону.</p>
                </div>
            </li>
            <li class="stages__item">
                <span class="stages__item-title">
                    Бронь
                </span>
                <div class="stages__item-text">
                    <p>Наш менеджер забронирует удобную для вас дату для сьемки.</p>
                </div>
            </li>
            <li class="stages__item">
                <span class="stages__item-title">
                    Составление
                    технического задания
                </span>
                <div class="stages__item-text">
                    <p>Мы подберем для вас самую подходящую локацию и инвентарь согласно ваших пожеланий.</p>
                </div>
            </li>
            <li class="stages__item">
                <span class="stages__item-title">
                    Сьемка
                </span>
                <div class="stages__item-text">
                    <p>Приходите в назначенный день и наш профессиональный фотограф сделает сьемку незабываемой.</p>
                </div>
            </li>
            <li class="stages__item">
                <span class="stages__item-title">
                    Готовые фото
                </span>
                <div class="stages__item-text">
                    <p>Готовые фотографии вы сможете забрать лично в офисе или мы отправим их вам любым удобным для вас способом.</p>
                </div>
            </li>
        </ul>
    </div>
</section>